@import "variables";

.footer__grid {
    background-color: rgb(87, 154, 255);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    .footer__Imagen {
        width: 100px;
        height: 100px;
    }

}

.footer__TituloContacto:hover {
    background-color: rgb(49, 156, 72);
    border-radius: 50px;
}

    .footer__TituloContacto {
        position: fixed;
        right: 10px;
        bottom: 100px;
        transition: all .5s;     
        
    
    }


    


