/* --------------------------------- Desktop -------------------------------- */

@media screen and (min-width: 1024px) {
    .grid {
        display: grid;
        grid-template-areas:
            "header"
            "main"
            "footer";
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
    }

    .Header {
        grid-area: header;
    }

    .main {
        grid-area: main;
    }
    
    .footer {
        grid-area: footer;
    }

    .header {
        background-color: rgb(87, 154, 255);
        display: flex;
        justify-content: space-between;
        height: 96px;
        align-items: center;
    }

    li {
        padding: 20px;
        margin: 20px;
    }

    .main__Imagen2{
    margin: 20px;
    }

    a{
        font-size: 22px;
    }

    .footer__grid {
        background-color: rgb(87, 154, 255);
        display: flex;
        justify-content: space-around;
        flex-direction: row
    }
    
    /* -------------------------------- gridIndex ------------------------------- */
    
    .gridMain {
        display: grid;
        grid-template-areas:
            "main__Img main__Img main__Img"
            "main__titulo main__titulo main__titulo"
            "main__ParrafoIzq main__ImagenParrafo main__ParrafoDer";
        grid-template-rows: auto auto auto;
        grid-template-columns: 33% 34% 33%;
    }

    .main__Img {
        grid-area: main__Img;
    }

    .main__titulo {
        grid-area: main__titulo;
    }

    .main__ParrafoIzq {
        grid-area: main__ParrafoIzq;
    }

    .main__ImagenParrafo {
        grid-area: main__ImagenParrafo;
    }

    .main__ParrafoDer {
        grid-area: main__ParrafoDer;
    }

    .main__modificador {
        font-size: 30px;
        margin: 40px;
    }

    .header__nav {
        display: flex;
        flex-direction: row;
    }

    .main__ParrafoIzq,
    .main__ParrafoDer {
        font-size: 25px;
    }

    .main__form {
        width: 460px;
    }
    
    
    /* ------------------------------ gridNosotros ------------------------------ */

    .gridNosotros {
        display: grid;
        grid-template-areas:
            "main__encabezado main__encabezado main__encabezado main__encabezado"
            "main--card1 main--card2 main--card3 main--card4";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
    }

    .main__encabezado {
        grid-area: main__encabezado;
    }

    .main--card1 {
        grid-area: main--card1;
    }

    .main--card2 {
        grid-area: main--card2;
    }

    .main--card3 {
        grid-area: main--card3;
    }

    .main--card4 {
        grid-area: main--card4;
    }

    .main--card {
        padding: 0;
        margin: 20px 0;
    }
    
    /* ------------------------------ gridContacto ------------------------------ */

    .main__gridContacto {
        display: grid;
        grid-template-areas:
            "main__tituloContacto main__tituloContacto"
            "main__form main__contacto";
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
    }

    .main__tituloContacto {
        grid-area: main__tituloContacto;
    }

    .main__form {
        grid-area: main__form;
    }

    .main__contacto {
        grid-area: main__contacto;
    }

    .main__contacto {
        margin: 50px;

    }

    .main__contactoParrafo {
        padding: 20px;
        margin: 20px;
        font-size: 25px;
        color: rgb(1, 59, 26);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }

    .main__tituloContacto {
        margin: 20px;
    }

    .main__form {
        margin: 80px auto;
    }
    
    /* ------------------------------ gridProducto ------------------------------ */
    .main__gridProducto {
        display: grid;
        grid-template-areas:
            "main__tituloProducto main__tituloProducto"
            "main__parrafoProducto main__ImagenProducto";
        grid-template-columns: 50% 50%;
        grid-template-rows: auto 700px;
    }

    .main__tituloProducto {
        grid-area: main__tituloProducto;
    }

    .main__parrafoProducto {
        grid-area: main__parrafoProducto;
    }

    .main__ImagenProducto {
        grid-area: main__ImagenProducto;
    }

    .main__parrafoProducto {
        margin: 20px;
        font-size: 25px;
    }

    .main__ImgContacto {
        width: 550px;
        height: 80%;
        margin: 30px 30px 30px;
    }

    .main__contactoParrafo {
        font-size: 25px;
    }

    .main__tituloProducto {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    
    /* ----------------------------- gridPresupuesto ---------------------------- */

    .main__gridPresupuesto {
        display: grid;
        grid-template-areas:
            "main__tituloPresupuesto main__tituloPresupuestoo"
            "main__listaPresupuesto main__imagenPresupuesto";
        grid-template-columns: 50% 50%;
        grid-template-rows: auto 700px;
    }

    .main__tituloPresupuesto {
        grid-area: main__tituloPresupuesto;
    }

    .main__listaPresupuesto {
        grid-area: main__listaPresupuesto;
    }

    .main__imagenPresupuesto {
        grid-area: main__imagenPresupuesto;
    }

    .main__imagenPresupuesto {
        padding: 20px;
        margin: 20px; 
    }

    .main__listaPresupuesto {
        padding: 20px;
        margin: 50px;
    }

    .main__imagenPresupuesto {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .main__gridPresupuesto {
        background-color: rgb(232, 232, 232);
    }

    .main__tituloPresupuesto {
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-top: 40px;
    }

    .main__iamgenPresupuesto2{
        width: 600PX;
        height: auto;
        padding-right: 30px;
    }

}

