@import "variables";


.header {

    .header__Imagen {
        width: 100px;
        height: 100px;
    }

    a {
        color: azure;
        text-decoration: none;
        transition: all 0.5s;
    }

        .header__nav li a:hover {
            font-size: 30px;
            background-color: $blue;
            padding: 4px;
            border-radius: 10px;

        }

}