/* --------------------------------- Tamaños -------------------------------- */
$full-width: 100px;
$full-height: 100px;
/* --------------------------------- colores -------------------------------- */
$black: black;
$white: white;
$red: red;
$brown: brown;